services:
  resume-dev:
    image: project-resume:latest
    build: .
    working_dir: /app
    volumes:
      - ./:/app:cached
      - node_modules:/app/node_modules
      - _site_dev:/app/_site
    environment:
      - CHOKIDAR_USEPOLLING=1
      - CHOKIDAR_INTERVAL=200
    ports:
      - "127.0.0.1:8090:8080"
    cap_add:
      - SYS_ADMIN
    command: >
      sh -lc "npm install && npm run dev"
  resume-prod:
    image: project-resume:latest
    build: .
    working_dir: /app
    volumes:
      - ./:/app:cached
      - node_modules:/app/node_modules
      - _site_prod:/app/_site
    environment:
      - CHOKIDAR_USEPOLLING=1
      - CHOKIDAR_INTERVAL=200
    ports:
      - "127.0.0.1:8091:8080"
    cap_add:
      - SYS_ADMIN
    command: >
      sh -lc "npm install && npm run prod"

volumes:
  node_modules:
  _site_dev:
  _site_prod:
