<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=860, initial-scale=1, maximum-scale=5, minimum-scale=0.25, user-scalable=yes">
    <title>{{ cv.name }} - CV</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/sections.css">
    <link rel="stylesheet" href="/css/print.css">
</head>
<body>
    <div class="download-actions">
        <a class="download-link" href="/resume.pdf" download>Download PDF</a>
    </div>
    <div class="page">
        {{ content | safe }}
    </div>
</body>
</html>
